:root{
    color-scheme: light dark;
    --color-blanco: #E4E7EE;
    --color-negro: #06111e;
    --color-dorado: #e7a90c;
    --color-rosado: #f25579ff;
    --color-fuxia: #eb1679ff;
    --color-morado: #cb1a9bff;
    --color-marron-claro: #ca9f7a;
    --color-almendra: #f5ede6;
    --color-marron: #6e3636;
    --color-terracota: #c97d60;
    --color-azul: #406af3;
    --color-gris: #2B2620;
    --color-targ-fecha: var(--color-terracota);
    --background-informacion: var(--color-terracota);
    --color-subtitulo: var(--color-negro);
    --color--icons: var(--color-marron);
    --color--background: var(--color-almendra);
    --color--texto: var(--color-negro);
    --color-boton: var(--color-fuxia);
    --color--targets: var(--color-rojo);
    --border--targets: 2px solid var(--color--targets);
    --font-nombre: 'Alex Brush', 'Lucida Handwriting', cursive;
    --font-general: 'Alice', serif;
    --font-courgette: 'Courgette','Segoe Print', cursive;
    --img-logo: url(../imagenes/LOGO.png) no-repeat center;
    --img-gissela: url(../imagenes/img_inicio.jpg) no-repeat center;
    --img-gissela-2: url(../imagenes/img_inicio_2.jpg) no-repeat center;
    --hexagono: 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%;
 }
 *{
    transition: all .5s;
	scroll-behavior: smooth;
	scroll-margin-top: 110px;
	box-sizing: content-box;
}
a{
    text-decoration: none;
    border: none;
    cursor: pointer;
}
button{
    border: none;
    cursor: pointer;
}
.dark{
    --color-subtitulo: var(--color-azul);
    --color--background: var(--color-gris);
    --color--texto: var(--color-almendra);
    --color--icons: #F9B5B2;
    --color-targ-fecha: var(--color-marron-claro);
    --background-informacion: #5c3022;
}
/*Personalizacion Scroll*/
    *::-webkit-scrollbar{
        -webkit-appearance: none;
    }
    *::-webkit-scrollbar:vertical{
        width:	6px;
        background: var(--color--background);
    }
    *::-webkit-scrollbar-button:increment,
    *::-webkit-scrollbar-button{
        display: none;
    }
    *::-webkit-scrollbar:horizontal{
        height: 8px;
        background: var(--color--background);
        border-radius: 100px;
    }
    *::-webkit-scrollbar-thumb{
        background-color: var(--color-fuxia);
        border-radius: 20px;
        border: 1px solid var(--color-blanco);
    }
    *::-webkit-scrollbar-track{
        border-radius: 5px;
    }

body{
    background: var(--color--background);
    color: var(--color--texto);
    font-family: var(--font-general);
    font-size: clamp(18px, 1.1vw, 40px);
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    position: fixed;
    background: var(--color--background);
    z-index: 1000;
}
.navegacion{
    width: 95%;
    display: flex;
    justify-content: space-around;
}
.contenedor_logo{
    display: flex;
    gap: 15px;
    height: 100%;
    align-items: center;
    justify-content: center;
    justify-content: center;
    align-items: center;
}
.logoNavegacion{
    background:var(--color--background)  var(--img-logo);
    background-size: contain;
    min-width: 45px;
    min-height: 45px;
    width: 4vw;
    height: 4vw;
    max-width: 70px;
    max-height: 70px;
}
.name,
.logoNombre{
    display: flex;
    flex-direction: column;
    font-family: var(--font-nombre);
    font-size: clamp(25px, 3vw, 70px);
    color: var(--color-rosado);
    font-weight: bolder;
}
.scroll .name,
.logoNombre{
    opacity: 0;
}
.scroll .logoNombre{
    opacity: 1;
}
.navegacionUl{
  display: flex;
  gap: 1vw;
  align-items: center;
}
.navegacion_li{
    font-size: clamp(18px, 1.3vw, 40px);
    height: 60%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navegacion_link{
    color: var(--color--icons);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.fa-moon{
    color: #CB1A9B;
}
.fa-sun{
    color: var(--color-dorado);
}
.navegacion_link.mostrar,
.navegacion_li:hover .navegacion_link{
    color: var(--color-dorado);
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 110px;
}
.home{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    min-height: 75vh;
}
.img_gissela{
    width: 25vw;
    min-width: 250px;
    height: 25vw;
    min-height: 250px;
    background: var(--color-terracota) var(--img-gissela);
    background-size: cover;
    border-radius: 25px;
    clip-path: polygon(var(--hexagono));
}
.presentacion{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    text-align: center;    
}
.name{
    font-size: clamp(28px, 4vw, 90px);
}
.titulo{
    width: 80%;
    margin: auto;
    color: var(--color-azul-oscuro);
    text-align: center;
}
.subtitulo{
    margin: auto;
    font-family: var(--font-courgette);
    font-size: clamp(23px, 1.7vw, 50px);
    font-weight: bold;
    color: var(--color-subtitulo);
    text-align: center;
}
.boton_presentacion{
    max-width: fit-content;
    width: 45%;
    margin: auto;
    height: 2em;
    font-size: clamp(18px, 1.5vw, 45px);
    border-radius: 20px;
    color: var(--color-boton);
    border: 2px solid var(--color-boton);
    font-weight: bolder; 
    background: none;
    font-family: var(--font-courgette);
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px 30px;
}
.presentacion_botones{
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}
.boton_presentacion i{
    font-size: clamp(25px, 1.7vw, 50px);
    font-weight: bold;
}
.boton_presentacion:hover{
    background: var(--color-boton);
    color: var(--color--background);
    box-shadow: 0 0 20px 3px var(--color-boton);
}
.aboutme{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.informacion{
    display: flex;
    width: 100%;
    background: var(--background-informacion);
    min-height: 50vh;
    padding: 50px 5%;
    box-sizing: border-box;
    justify-content: center;
}
.target_informacion{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.img_informacion{
    width: 20vw;
    min-width: 250px;
    height: 20vw;
    min-height: 250px;
    background: var(--color--background) var(--img-gissela-2);
    background-size: cover;
    border-radius: 25px 0;
}
.parrafo{
    text-align: justify;
    line-height: 1.5em;
    color: var(--color--texto);
    width: 85%;
    margin: auto;
}
.target_formacion{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    flex-direction: column;
}
.target_subtitulo{
    width: 100%;
    text-align: left;
    font-weight: bold;
    color: var(--color-morado);
}
.target_fecha{
    width: 100%;
    text-align: right;
    color: var(--color-targ-fecha);
}
.targets_skills{
    width: 90%;
    margin: 25px auto;
    display: flex;
    background: var(--color-marron-claro);
    border-radius: 15px 0;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    padding: 10px 0 10px;
    border: 10px solid var(--color-marron-claro);
    overflow: auto;
}
.target_skills{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 2px solid var(--color-morado);
    border-radius: 15px 0;
    gap: 20px;
    padding: 10px;
    color: var(--color-morado);
    /* font-size: 19px; */
    font-size: clamp(18px, .9vw, 35px);
    font-weight: bold;
    background: var(--color-almendra);
}
.icon{
    --icon-zise: 60px;
    width: var(--icon-zise);
    height: var(--icon-zise);
    font-size: var(--icon-zise);
}
.experiencia{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.target_experiencia{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 20px;
}
.experiencia_empresa{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.experiencia_cargo{
    width: 95%;
    color: var(--color--icons);
    font-weight: bold;
}
.experiencia_descripcion{
    width: 90%;
    line-height: 1.2;
}
.contenedor_videos,
.contenedor_imagenes{
    width: 85%;
    height: 375px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    overflow: auto;
    border: 10px solid var(--color-marron-claro);
    background: var(--color-marron-claro);
    border-radius: 15px 0;
}
.contenedor_videos{
    height: 630px;
}
.img_proyectos{
    min-width:300px;
    height: 350px;
    background: var(--color-marron-claro);
    object-fit: cover;
    border-radius: 25px 0;
}
.tiktok-embed{
    object-fit: cover;
    width: 323px;
    height: 570px;
    border-radius: 25px 0;
    border: 5px solid var(--color-marron-claro);
    background: var(--color-marron-claro);
    margin: auto;
}
/* configuracion footer*/
.footer{
    color: var(--color-almendra);
    background: var(--color-marron);
    margin: 2em auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
    gap: 15px;
}
.footerUser{
    font-family:var(--font-courgette);
    color: var(--color-dorado);
}
.footerRedesRociales{
    display: flex;
	gap: 15px;
}
.footerIcons{
	font-size: clamp(25px, 2.2vw, 50px);
	color: var(--color-almendra);
}
.footerIcons:hover{
    font-weight: bold;
    color: var(--color-dorado);
}
@media screen and (max-width: 1100px) {
    .home{
        min-height: 40vh;
    }
}
@media screen and (max-width: 850px) {
    .header{
        height: 75px;
        border-bottom: 3px solid var(--color-terracota);
    }
    .navegacionUl{
        border-top: 3px solid var(--color-terracota);
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: var(--color--background);
        justify-content: space-around;
    }
    .subtitulo{
        width: 95%;
    }
    .navegacion_nombre{
        position: absolute;
        opacity: 0;
    }
    .navegacion_link.mostrar .navegacion_nombre,
    .navegacion_li:hover .navegacion_nombre{
        opacity: 1;
    }
    .navegacion_icon{
        font-size: 25px;
    }
    .navegacion_link.mostrar .navegacion_icon,
    .navegacion_li:hover .navegacion_icon{
        width: 40px;
        height: 40px;
        transform: translateY(-35PX);
        background: var(--color--background);
        border: 3px solid var(--color-terracota);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoNombre{
        font-size: clamp(35px, 4.5vw, 50px);
        opacity: 1;
        text-align: center;
    }
    .name{
        opacity: 0;
    }
    .img_informacion{
        display: none;
    }
    .target_informacion{
        width: 95%;
    }
    .target_experiencia{
        width: 85%;
    }
    .target_formacion,
    .experiencia_empresa{
    flex-direction: column;
    }
    .contenedor_videos,
    .contenedor_imagenes{
        background: var(--color-marron-claro);
    }
    .footer{
        padding-top: 20px;
        justify-content: initial;
        height: calc(15vh + 70px);
    }
}
@media screen and (max-width: 690px) {
    .home{
        flex-direction: column;
        gap: 0;
    }
}